<br>
<div class="animated fadeIn">
    <div class="row">
        <div class="card">
          <div class="modal-header">
            <div class="card-header">
              <i class="fa fa-align-justify"> Liste des gammes   </i>
         
              
            
            </div>
          </div>
          
            <div class="card-body">
              <div style="padding-left: 20cm;">
               <button style="width: 100px;" type="button" class="btn btn-block btn-primary" data-toggle="modal" (click)="Ajouter()"> 
          <i class="fa fa-plus "></i> &nbsp;
         <Strong>Ajouter </Strong></button>
              </div>
               <br>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Désignation</th>
                    <th>Description </th>
                    <th>Indice</th>
                    <th>Article</th>
                    <th> Statut </th>
                    <th> Action </th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Gamme1</td>
                    <td>électriques</td>
                    <td>c'est la gamme numéro 1</td>
                    <td>1</td>
                    <td>Article1</td>
                   <td>
                      <span class="badge badge-success">Active</span>
                    </td>
          
                    <td>

                       <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                        <i type='button'  class="fa fa-edit fa-lg mt-4" (click)="clicSurBouton()" > </i>
                        <i type='button' class="fa fa-check-square-o fa-lg mt-4"></i>
                      
                      </div>
                    </td>
               
                 
                  </tr>
                  <tr>
                    <td>Gamme</td>
                    <td>électriques</td>
                    <td>c'est la gamme numéro 2</td>
                    <td>1</td>
                    <td>Article2</td>
                    <td>
                      <span class="badge badge-danger">Banned</span>
                    </td>
                    <td> 
                      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                        <i type='button'  class="fa fa-edit fa-lg mt-4" (click)="clicSurBouton()" > </i>
                        <i type='button' class="fa fa-check-square-o fa-lg mt-4"></i>
                      
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Gamme3</td>
                    <td>électriques</td>
                    <td>c'est la gamme numéro 3</td>
                    <td>1</td>
                    <td>Article 3</td>
                    <td>
                      <span class="badge badge-secondary">Inactive</span>
                    </td>
                    <div>
                    <td> 
                      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                        <i type='button'  class="fa fa-edit fa-lg mt-4" (click)="clicSurBouton()" > </i>
                        <i type='button' class="fa fa-check-square-o fa-lg mt-4"></i>
                      
                      </div>
                    </td>
                  </div>
                  </tr>
                  <tr>
                    <td>Gamme4</td>
                    <td>électriques</td>
                    <td>c'est la gamme numéro 4</td>
                    <td>1</td>
                    <td>Article 4</td>
                    <td>
                      <span class="badge badge-warning">Pending</span>
                      <td>
                      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                        <i type='button'  class="fa fa-edit fa-lg mt-4" (click)="clicSurBouton()" > </i>
                        <i type='button' class="fa fa-check-square-o fa-lg mt-4"></i>
                      
                      </div>
                      </td>
                  </tr>
                 
                </tbody>
              </table>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      
      </div>
