
<div  bsModal  #myModalP="bs-modal"   tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Nouvelle Gamme </h4>
        <button type="button" class="close" (click)="myModalP.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
      <div class="modal-body">
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" (click)="myModalA.show()">Ajouter une nouvelle gamme</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" (click)="myModal.show()">Copier une gamme existante</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" (click)="Copier()">Dupliquer une Gamme</button>

      </div>
     
    </div><!-- /.modal-content -->

</div><!-- /.modal -->

<div   bsModal  #myModal="bs-modal" class="modal fade"   tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
   
  <div class="modal-primary modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Copier une gamme </h4>
              <button type="button" class="close" (click)="myModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>

          <div class="modal-body ">
           
            
            <div class="row">
                  
              <div class="col-sm-12">
            <div class="form-group row">
              <div class="col">
              <div class="col-md-24">
                <label for="name">Nom</label>
                  <input type="text" class="form-control" id="nom" placeholder="Saisir le nom de la gamme">
               </div>
            </div>
            <div class="col">
              <div class="col-md-24">
                <label for="ccnumber">Désignation</label>
                <input type="text" class="form-control" id="designation" placeholder="Saisir la désignation de la gamme">
             </div>
              </div>
            </div>
            </div>
          </div>
          
              <div class="row">
                  
                  <div class="col-sm-12">
                <div class="form-group row">
                  <div class="col">
                  <div class="col-md-24">
                    <label for="name">Description</label>
                    <input type="text" class="form-control" id="description" placeholder="Saisir la description de la gamme">
                  </div>
                </div>
                <div class="col">
                  <div class="col-md-24">
                    <label for="name">Indice</label>
                    <input type="text" class="form-control" id="indice" placeholder="L'indice de cette gamme">
                  </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="row">
                     
                  <div class="col-sm-12">
                <div class="form-group row">
                  <div class="col">
                  <div class="col-md-24">
                    <label for="name">Article</label>
                    <input type="text" class="form-control" id="article" placeholder="Saisir l'article décrivant cette gamme">
                  </div>
                  </div>
                  <div class="col">
                  <div class="col-md-24">
                    <label for="name">Statut</label>
                    <div>
                        <select id="select1" name="select1" class="form-control">
                          <option value="0">Please select</option>
                          <option value="1">Active</option>
                          <option value="2">Inactive</option>
                          <option value="3">Encours</option>
                        </select>
                      </div>
                  </div>
              </div>
                  </div>
                  </div>
                </div>
                
                
            
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Annuler</button>
              <button type="button" class="btn btn-primary">Ajouter</button>
          </div>
      </div>
  </div>


</div>


<div  bsModal class="modal fade"    #myModalA="bs-modal"   tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  
  <div class="modal-primary modal-dialog modal-lg" role="document">
   
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ajouter nouvelle gamme </h4>
        <button type="button" class="close" (click)="myModalA.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Nom</label>
              <input type="text" class="form-control" id="nom" placeholder="Saisir le nom de la gamme">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Désignation</label>
              <input type="text" class="form-control" id="designation" placeholder="Saisir la désignation de la gamme">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Saisir la description de la gamme">
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Indice</label>
                <input type="text" class="form-control" id="indice" placeholder="L'indice de cette gamme">
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Article</label>
                <input type="text" class="form-control" id="article" placeholder="Saisir l'article décrivant cette gamme">
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Statut</label>
                <div class="col-md-12">
                    <select id="select1" name="select1" class="form-control">
                      <option value="0">Please select</option>
                      <option value="1">Active</option>
                      <option value="2">Inactive</option>
                      <option value="3">Encours</option>
                    </select>
                  </div>
              </div>
            </div>
          </div><!--/.row-->


    </div>
    <div class="modal-footer">
         <button type="button" class="btn btn-secondary" (click)="myModalA.hide()">Annuler</button>
    <button type="button" class="btn btn-primary">Ajouter</button>
      </div>
  </div>
</div>
</div>


